/* 🌟 Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* 🌟 Color Variables */
:root {
  --green: #2D6A4F;
  --blue: #1634884f;
  --gold-orange: #D97706;
  --white: #FFFFFF;
  --gray: #F5F5F5;
  --dark-gray: #333333;
}

/* 🌟 Global Styles */
body { 
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.handwriting {
  font-family: "Dancing Script", cursive;
}

/* 🌟 Typography */
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  color: var(--green);
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  color: var(--blue);
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  color: var(--gold-orange);
  font-weight: bold;
}



strong {
  font-weight: bold;
  color: var(--gold-orange);
}

/* 🌟 Buttons */
.btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-secondary {
  background-color: var(--gold-orange);
  color: var(--white);
  text-decoration: none;
}

.btn-main {
  border: 1px solid var(--gold-orange);
}
